interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Rillet-API-Version:
      - '3'
    method: GET
    uri: https://sandbox.api.rillet.com/bills?limit=100&updated.gt=2026-07-20T00%3A00%3A00Z
  response:
    body:
      string: '{"bills": [{"vendor_id": "-Fallback-scrubbed-wrFGVTZdjeQldiAyOxaEEyrfVmKdAymweoAP",
        "expense_number": "-Fallback-scrubbed-JDNnDOHRe", "items": [{"description":
        "-Fallback-scrubbed-gRKrxYMbDEAoWCl", "account_code": "-Fallback-scrubbed-PhO",
        "amount": {"amount": "-Fallback-scrubbed-DL", "currency": "-Fallback-scrubbed-xFT"},
        "fields": [], "id": "-Fallback-scrubbed-ftpatxdCtmcLHHuRNyLgYswzkysNManLOGJJ"}],
        "bill_date": "-Fallback-scrubbed-xvBLMIPYEl", "due_date": "-Fallback-scrubbed-cQtfJjNFdU",
        "impact_date": "-Fallback-scrubbed-xvBLMIPYEl", "subsidiary_id": "-Fallback-scrubbed-qWxTAVVGYToDtmWFsTHUaGpwfbzyzATVEzfF",
        "external_references": [{"type": "-Fallback-scrubbed-sGIrWiqvp", "id": "-Fallback-scrubbed-CxTXvITFAvZgsxVkUsGXysaKYJqndXTRZevU",
        "url": "-Fallback-scrubbed-SfAtfFOmKWklAFNJrcJBKuWJzimmggWLFXpYEKXRGsuTahVqxHivmVMPiqfZheDStoIdqrOEsWVNqhNJtfLZ"}],
        "id": "-Fallback-scrubbed-KIcutlsFHUgnCJvkUlPTCoFWwwBHilaOfLnR", "status":
        "-Fallback-scrubbed-xZaMLC", "updated_at": "-Fallback-scrubbed-LWXDRntTwutfeDMQIvLANEYKyWv"},
        {"vendor_id": "-Fallback-scrubbed-oZjwWBYFEddqMUDWwYOgDvasQuGvZLNuUGnV", "expense_number":
        "-Fallback-scrubbed-FJDLRfzc", "items": [{"description": "-Fallback-scrubbed-gtlrcaeBDVNDpjwZvuy",
        "account_code": "-Fallback-scrubbed-fepz", "amount": {"amount": "-Fallback-scrubbed-DL",
        "currency": "-Fallback-scrubbed-xFT"}, "fields": [], "id": "-Fallback-scrubbed-PJgJHpRiRpgzjoOUANmWZzsNNKeFIGQEqUCj"}],
        "bill_dat[...]
