interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Rillet-API-Version:
      - '3'
    method: GET
    uri: https://sandbox.api.rillet.com/contracts?limit=100
  response:
    body:
      string: '{"contracts": [{"id": "-Fallback-scrubbed-JYsRgkJgAefhNwUlfjcVTeXAWMZmwcuTXKpu",
        "customer_id": "-Fallback-scrubbed-hwkgHcwGrxZvklDIFrHBYctlXPFkWZrEeGwA",
        "subsidiary_id": "-Fallback-scrubbed-YMMCIqOMPHdgkZrIQtuuhWpvsehLJKKUxJJI",
        "name": "Charles Perkins", "items": [{"id": "-Fallback-scrubbed-gqThmMSqslSvyuhtIpNPbJnDFmCirwzkreML",
        "product_id": "-Fallback-scrubbed-vOmcbupTCRgvOSLgufPaKrdCtqXQnTWmGiYP", "price":
        {"type": "-Fallback-scrubbed-NVGNorPhLozcntT", "amount": {"amount": "-Fallback-scrubbed-lTOu",
        "currency": "-Fallback-scrubbed-ACx"}, "interval_months": 5402}, "quantity":
        "-Fallback-scrubbed-B", "total_value": {"amount": "-Fallback-scrubbed-EhiGz",
        "currency": "-Fallback-scrubbed-ACx"}, "revenue_pattern": "-Fallback-scrubbed-hsCxr",
        "tax_rate": {"percentage": "-Fallback-scrubbed-dpnVtms", "country": "-Fallback-scrubbed-fs",
        "type": "-Fallback-scrubbed-kgSIRczOG", "description": "-Fallback-scrubbed-xaQgzVCkW"},
        "start_date": "-Fallback-scrubbed-ltwZWYrmpl", "end_date": "-Fallback-scrubbed-CUZAOvwhpL",
        "status": "-Fallback-scrubbed-xtgHxX", "fields": [], "external_references":
        []}], "status": "-Fallback-scrubbed-xtgHxX", "start_date": "-Fallback-scrubbed-ltwZWYrmpl",
        "end_date": "-Fallback-scrubbed-CUZAOvwhpL", "close_date": "-Fallback-scrubbed-EsLpecKLJm",
        "invoicing": {"interval": "-Fallback-scrubbed-mxKQzBv", "payment_terms": 3699,
        "day": 5402}, "usage_configuration": {"usage_invoicing": {"frequency": "-Fallback-scrubbed-PjKHjjsKS",
        "payment_terms": 3699, "invoice_date": "-Fallback-scrubbed-uzYxNYknnArUpPZgfBbrAnq",
        "cycle": "-Fallback-scrubbed-MqpUPZWRWVfeupsHctbNNacO"}}, "total_value": {"amount":
        "-Fallback-scrubbed-EhiGz", "currency": "-Fallback-scrubbed-ACx"}, "external_references":
        []}, {"id": "-Fallback-scrubbed-UVGeeGqDEtCaTKzfCqzQyQFEcQkfJjVAmahx", "customer_id":
        "-Fallback-scrubbed-uPMqFuybdEfiyRpKyygxABsACVBvUcLVsINT", "subsidiary_id":
        "-Fallback-scrubbed-jkVMHgSWPTkcUHdMllhMvUTDVAPXdiCFeJIV", "name": "Robert
        Vang", "items": [{"id": "-Fallback-scrubbed-jEQCnBzoIvIHZ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Rillet-API-Version:
      - '3'
    method: GET
    uri: https://sandbox.api.rillet.com/contracts?limit=100&cursor=2fjj5kgycg3u2v2nfldie5mpay
  response:
    body:
      string: '{"contracts": [{"id": "-Fallback-scrubbed-iMulMGXzOGDtXjlOJLlUJXamuNYNtLFzwsWh",
        "customer_id": "-Fallback-scrubbed-bDjMvkSFsTTlitCKEojBuLnyGRwqnMimJSWi",
        "subsidiary_id": "-Fallback-scrubbed-YMMCIqOMPHdgkZrIQtuuh[...]
